body { property: 'Courier New', Courier, monospace; }

h1, h2 { color:#36454F; }
/*tr:nth-child(even) {background-color: lightpink; }*/

.evenrow{background-color:#e0bbe4;}
table, th, td {
    border: 1px solid #B1B1B1;
      border-collapse: collapse;

}
h1 {
        font-size: 3em;
      }
      
      h2 {
        font-size: 2em;
      }