/*global*/


   
 

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-VariableFont_wght.ttf");
    }

    @font-face {
        font-family: "Barlow Regular";
        src: url("Barlow-Regular.ttf");
        }

        @font-face {
            font-family: "Barlow Thin";
            src: url("Barlow-Thin.ttf");
            }

html {
    scroll-behavior: smooth;
}

body {
   

    color: #000000;
    font-family: "Barlow Regular";
    background-image: url('../images/background.png');
    font-size: 110%;

  }
  

h1 {
    font-weight: bolder;
    font-family: "Playfair Display";
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #fec5bb 50%);
    display: inline;
}

h2, h3 {
    
    font-weight: normal;
    font-family: "Playfair Display";
    background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #fec5bb 65%);
    display: inline;
  
}

h4 {

    font-family: "Barlow Thin";
    font-size: 1.5em;

}





/* nav bar*/

.logo1 {
    
    padding: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;

} 

nav {
    
    display: flex;
    font-size: 1em;
    justify-content: center; /* fix spacing between nav bar */
    background-color: #f8edeb;
    margin-bottom: 20px;
    padding:10px;
    font-weight: bold;
}

.about {

    padding-left: 3em;
}
  
.carepackages {

    padding-left: 3em;
    padding-right: 3em;

}


nav a {

    color:#000000;
    text-decoration: none;
    background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #fec5bb 65%);
  
}


a {
    text-decoration: none;
    color: #000000;
    
}



/* footer style */


footer {
    clear: both;
    position: relative;
    height: 220px;
    margin-top: 200px;
    padding: 100px;
    background-color: #f8edeb;
}

.socialmedia {
    display: flex;
    justify-content: center;
    

}

.instagram {
    padding-left: 3em; 
    padding-right: 3em;
}

.portfolio {
    padding-right: 3em;
}

.logo {

    padding: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;

}








/* about page content */


.lifestyleimage1 {
    float: left;
    margin-left: 150px;
    margin-bottom: 40px;
    width: 35%;
    position: sticky;
    
}


.intro {
    
    background-color: #f8edeb;
    padding: 70px;
    margin: 60px;
    float: right;
    border-radius: 3em;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin-top: 140px;
    font-size: 20px;

}

.description {

    background-color: #f8edeb;
    padding: 70px;
    margin: 50px;
    float: right;
    width: 30%;
    border-radius: 3em;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin-top: 80px;
    

}


.video-container {
    overflow: hidden;
    position: relative;
    width:40%;
    float: left;
    padding: 10px;
    margin-left: 95px;
    margin-bottom: 100px;
    margin-top: 100px;
    

}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.story {
    
    background-color: #f8edeb;
    padding: 70px;
    margin: 80px;
    float: right;
    border-radius: 3em;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}








/* care packages page content */

.center {  /* header image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    margin-bottom: 80px;
    width: 60%;
    
  }

.heading {
    display: flex;
    justify-content: center;
    font-size: 80%;
    margin-bottom: 80px;
    margin-top: 100px;
    background-color: #f8edeb;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 3em;
    color: #000000;
    
}

.shrink {
    transition:all 0.3s ease;
}

.shrink:hover

{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity:0.5;
}


.rainydayimg {
    margin-left: 80px;
    width: 50%;
    float: left;
}

.rainydaytxt {
    float: right;
    position: sticky;
    width: 20%;
    margin: 70px;
    margin-right: 200px;
    background-color: #f8edeb;
    border-radius: 3em;
    padding: 40px;
}

.homeimg {
    margin-right: 80px;
    margin-top: 120px;
    width: 50%;
    float: right;
}

.missinghometxt {
    float: left;
    position: sticky;
    width: 20%;
    margin: 70px;
    margin-left: 200px;
    background-color: #f8edeb;
    border-radius: 3em;
    padding: 40px;
    margin-top: 200px;
}

.nightinimg {
    margin-left: 80px;
    width: 50%;
    float: left;
    margin-top: 200px;
}

.nightintxt {

    float: right;
    position: sticky;
    width: 20%;
    margin: 70px;
    margin-right: 200px;
    background-color: #f8edeb;
    border-radius: 3em;
    padding: 40px;
    margin-top: 200px;

}


.laughimg {
    margin-right: 80px;
    width: 50%;
    float: right;
    margin-top: 120px;
}

.laughtxt {
    float: left;
    position: sticky;
    width: 20%;
    margin: 70px;
    margin-left: 200px;
    background-color: #f8edeb;
    border-radius: 3em;
    padding: 40px;
    margin-top: 200px;

}
.unwindimg {
    margin-left: 80px;
    width: 50%;
    float: left;
    margin-top: 120px;
}

.unwindtxt {

    float: right;
    position: sticky;
    width: 20%;
    margin: 70px;
    margin-right: 200px;
    background-color: #f8edeb;
    border-radius: 3em;
    padding: 40px;
    margin-top: 200px;
}

.motivationimg {
    margin-right: 80px;
    width: 50%;
    float: right;
    margin-top: 120px;
    margin-bottom: 200px;
}

.motivationtxt {

    float: right;
    position: sticky;
    width: 20%;
    margin: 70px;
    margin-right: 200px;
    background-color: #f8edeb;
    border-radius: 3em;
    padding: 40px;
    margin-top: 200px;

}







/* responsive design */



@media only screen and (max-width:530px) {
    /* For mobile phones: */
    .rainydayimg, .homeimg, .nightinimg, .laughimg, .motivationimg, .unwindimg {
        width: 80%;
        margin-left: 30px;
     
    }
    .rainydaytxt, .missinghometxt, .nightintxt, .laughtxt, .motivationtxt, .unwindtxt  {
        width: 50%;
        margin: auto;
    }

    
}

@media only screen and (max-width:1449px) {
    /* For mobile phones: */
    .rainydayimg, .homeimg, .nightinimg, .laughimg, .motivationimg, .unwindimg{
        width: 65%;
        margin-left: 60px;
       
    }
    .rainydaytxt, .missinghometxt, .nightintxt, .laughtxt, .motivationtxt, .unwindtxt {
        width: 50%;
        margin: 45px;
        margin-right: 60px;
    }
}


@media only screen and (max-width:530px) {
    
    .intro, .story, .description {
        padding: 30px;
        margin: 30px;
        width: 60%;
        font-size: 20px;
    }

    .lifestyleimage1 {
        width: 80%;
        margin: 30px;
    }

    .video-container {
        width: 80%;
        margin: 30px;
    }



}